/* 답변 부분 토글 */
.hidden_ws_contents {
    display: none;
}

.privateqnaListBtn {

    pointer-events: none;

}

.hidden_ws_no {
    display: none;
}

/* 섹션 스타일 */

#section_wrap {
    margin: 50px auto;
    width: 80%;
}

/* 제목 */

.ws_headline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}


/* 테이블 스타일 */
.ws_table {
    width: 100%;
    border-collapse: collapse;
}

.ws_table th,
.ws_table td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

.ws_table .ws_yes_ws_tr td:nth-child(1),
.ws_table .ws_yes_ws_tr td:nth-child(2),
.ws_table .ws_yes_ws_tr td:nth-child(4),
.ws_table .ws_yes_ws_tr td:nth-child(5),
.ws_table .ws_yes_ws_tr td:nth-child(6),
.ws_table .ws_yes_ws_tr td:nth-child(7) {
    text-align: center;
}

.ws_table .ws_yes_ws_tr td:nth-child(3) {
    text-align: left;
    padding: 15px;
}

.ws_table th {
    background-color: #f2f2f2;
    text-align: center;
}

/* 토글 버튼 스타일 */
.ws_toggle_title {
    color: #007bff;
    cursor: pointer;
}

/* 토글 버튼 호버 시 스타일 */
.ws_toggle_title:hover {
    color: #FF5733;
    /* 텍스트 색상 변경 */
}

/* 토글 버튼이 포함된 행의 셀 배경색 변경 */
.ws_yes_ws_tr:hover td {
    background-color: #f5f5f5;
    /* 셀 배경색 변경 */
}

.ws_table .hidden_ws_td {
    text-align: left;
   padding: 20px 200px 20px 350px;
}

.ws_inquiry {
    padding-bottom: 10px;
}

.answer_privateqna_ajax_div textarea {
    /* width: 600px;
    height: 100px; */
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
    font-family: inherit;
}

.answer_privateqna_ajax_div {
    text-align: left;
}

.answer_privateqna_wrap {
	text-align: right;
}