<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}" type="text/javascript"></script>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				REVIEW INSERT FAIL
			</div>
			
			
		</div>
	</section>
	
	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>