/* 전반적인 페이지 레이아웃 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, nav, footer {
    text-align: center;
    padding: 1em;
    background-color: #ddd;
}

#section_wrap {
    padding: 20px;
}

.word {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* 상품 리스트 테이블 스타일링 */
.goods_list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.goods_list th, .goods_list td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.goods_list th {
    background-color: #f9f9f9;
}

.goods_list tr:nth-child(odd) {
    background-color: #fff;
}

.goods_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.goods_list img {
    width: 100px; /* 이미지 크기 조정 */
    height: auto;
}

/* 상품 등록 버튼 스타일링 */
.insertBtn {
    display: inline-block;
    background-color: #FFCD4A; /* 버튼 색상 */
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    text-decoration: none; /* 링크 밑줄 제거 */
    cursor: pointer;
}

.insertBtn:hover {
    background-color: #FFCD4A; /* 호버 시 버튼 색상 */
}
