<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/create_account_form.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

<script th:replace="~{include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{user/include/user_account_js.html::js}" type="text/javascript"></script>

<script type="text/javascript" th:src="@{/js/userMember.js}"></script>

</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				<span>회원가입</span>
			</div>
			<div class="create_account_form">
			
				<form th:action="@{/user/member/create_account_confirm}" name="create_account_form" method="post">
					<input type="hidden" id="hiddenValue" name="h_v" value="0">
					<input type="text" id="u_id" name="u_id" placeholder="아이디">
					<a class="userIdTest" href="#none">중복검사</a>
					<div id="idTestResult"></div>
					<input type="password" name="u_pw" placeholder="비밀번호"><br>
					<input type="password" name="u_pw_check" placeholder="비밀번호 확인"><br>
					<input type="text" name="u_name" placeholder="이름"><br>
					<input type="text" name="u_nickname" placeholder="닉네임"><br>
					<input type="text" name="u_mail" placeholder="이메일"><br>
					<input type="text" name="u_phone" placeholder="연락처"><br>
					<input type="button" value="가입하기" onclick="createAccountForm();">
				</form>
				
			</div>
			
			<div class="go_login_form">
				<a th:href="@{/user/member/login_form}">로그인</a>
			</div>
			
		</div>
	</section>
	
	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>