<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/create_account_form.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

<script type="text/javascript" th:src="@{/js/userMember.js}"></script>

</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				<span>LOGIN FORM</span>
			</div>
			<div class="create_account_form">
				
				<form th:action="@{/user/member/login_confirm}" name="login_form" method="post">
					<input type="text" name="u_id" placeholder="ID"><br>
					<input type="password" name="u_pw" placeholder="PW"><br>
					<input type="button" value="로그인" onclick="loginForm();">
				</form>
				
			</div>
			
			<div class="go_login_form">
				<a th:href="@{/user/member/login_form}">Already have an account? login</a>
			</div>
			
		</div>
	</section>
	
	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>