<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- include -->
<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}" type="text/javascript"></script>

<!-- ajax 라이브러리 -->
<script th:fragment="jquery_cdn" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- slick 라이브러리 -->
<script th:fragment="slick" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<!-- css -->
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/user/goods/goods_list.css}">

<!-- 북마크 -->
<link rel="stylesheet" th:href="@{/css/user/bookmark/bookmark_goods_detail_view.css}">

<script type="text/javascript">

$(document).ready(function() {
	  $('.goods-list tr').click(function() {
	    // 클릭된 라인의 a 태그 (상품 이름) 가져오기
	    var productLink = $(this).find('a').attr('href');
	    
	    // 상세 페이지로 이동
	    if (productLink) {
	      location.href = productLink;
	    }
	  });
	});

</script>

</head>
<body>

	<header	th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>
	
	<section>
    <div id="section_wrap">
        <div class="word">
            USER GOODS LIST
        </div>
        
        <div class="goods_list">
            <div class="grid-container">
                <!-- 반복되는 상품 아이템 -->
                <div class="grid-item" th:each="goods : ${goodsDtos}">
                    <a th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}">
                        <img class="thumbnail" th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goods.g_thumbnail_name}}" />
                    </a>
                    <div class="item-info">
                        <a class="item-name" th:text="${goods.g_name}" href="#none"></a>
                        <p class="item-price" th:text="|${#numbers.formatInteger(goods.g_price, 0, 'COMMA')}원|"></p>
                        
                        <p class="item-rating">
                            <!-- <span th:if="${review == null or #lists.isEmpty(reviewDtos)}" class="reviewLine">
								<img src="/img/review/staroutline.png" alt="별 이미지">
								<span>0.0</span>
							</span> -->
                            
                            <span th:each="review : ${reviewDtos}" th:if="${review.g_no == goods.g_no}" class="reviewLine">
								<img src="/img/review/star.png" alt="별 이미지">
								<span th:text="${#numbers.formatDecimal(review.r_rating, 1, 1)}"></span>
							</span>							
                        </p>
                        
                        <div class="bookmark">
                            <div class="bm_heart" th:attr="data-g_no=${goods.g_no}">
                                <div class="bm_count" th:text="${goods.g_bm_count}"></div>
                                <span class="bm_heart_off" th:if="${isBookmarked}" th:attr="data-g_no=${goods.g_no}">
                                    <img class="bm_heart_full" th:src="@{/img/bookmark/fullheart.png}">
                                </span>
                                <span class="bm_heart_on" th:unless="${isBookmarked}" th:attr="data-g_no=${goods.g_no}">
                                    <img class="bm_heart_empty" th:src="@{/img/bookmark/emptyheart.png}">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
	
	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>