<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- include -->
<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}" type="text/javascript"></script>


<!-- ajax 라이브러리 -->
<script th:fragment="jquery_cdn" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- slick 라이브러리 -->
<script th:fragment="slick" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<!-- css -->
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/user/goods/search_category_form.css}">

<script type="text/javascript">
    $(document).ready(function() {
        // 하위 메뉴를 클릭할 때의 이벤트 처리
        $('.goods-list div a').click(function(e) {
            e.preventDefault(); // 기본 동작 방지
            
            var c_no = $(this).attr('data-cno'); // 선택한 하위 메뉴의 c_no 가져오기
            
            // AJAX 요청
            $.ajax({
                url: '/user/goods/searchProductsByCategory', // 상품 검색을 위한 서버 엔드포인트
                method: 'POST',
                data: {c_no: c_no}, // 선택한 하위 메뉴의 c_no 전송
                dataType: 'json', // 서버에서 반환하는 데이터 타입은 JSON
                success: function(response) {
                    // 서버에서 반환한 JSON 데이터를 이용하여 테이블 리스트에 상품 정보 추가
                    updateProductList(response);
                },
                error: function(xhr, status, error) {
                    console.error('Failed to retrieve products:', error);
                    // 에러 처리 로직 추가
                }
            });
        });
    });
    
    function updateProductList(products) {
        // 상품 목록을 받아서 테이블 리스트에 추가하는 함수
        // products는 서버에서 반환한 JSON 데이터
        
        // 테이블 리스트의 tbody 선택
        var tbody = $('.goods-list table tbody');
        
        // 기존 상품 리스트 제거
        tbody.empty();
        
        // 받은 상품 데이터를 이용하여 테이블 리스트에 상품 정보 추가
        products.forEach(function(product) {
            var tr = $('<tr>');
            tr.append('<td><a href="/user/goods/goodsDetailView?g_no=' + product.g_no + '"><img src="http://14.42.124.95:8091/goodsUploadImg/' + product.g_thumbnail_name + '" alt="' + product.g_name + '"></a></td>');
            tr.append('<td><a href="/user/goods/goodsDetailView?g_no=' + product.g_no + '">' + product.g_name + '</a></td>');
            tr.append('<td>' + (product.g_price != 0 ? product.g_price.toLocaleString() + '원' : '') + '</td>');
            // 평점은 추가
            tbody.append(tr);
        });
    }
</script>


</head>
<body>

    <header></header>
    
    <nav>
        
    </nav>
    
    <section>
        <div id="section_wrap">
            <div class="word">
                CATEGORY
            </div>
            
            <div class="goods-list">
                <div th:if="${goodsDto.c_parents_no == 1}">
                    <a href="#" class="subcategory" data-cno="6">전연령</a>
                    <a href="#" class="subcategory" data-cno="7">퍼피</a>
                    <a href="#" class="subcategory" data-cno="8">어덜트</a>
                    <a href="#" class="subcategory" data-cno="9">시니어</a>
                </div>
                
                <div th:if="${goodsDto.c_parents_no == 2}">
                    <a href="#" class="subcategory" data-cno="10">껌</a>
                    <a href="#" class="subcategory" data-cno="11">육포/사시미</a>
                    <a href="#" class="subcategory" data-cno="12">저키/트릿</a>
                    <a href="#" class="subcategory" data-cno="13">수제</a>
                </div>
                <div th:if="${goodsDto.c_parents_no == 3}">
                    <a href="#" class="subcategory" data-cno="14">구강관리</a>
                    <a href="#" class="subcategory" data-cno="15">관리용품</a>
                    <a href="#" class="subcategory" data-cno="16">브러쉬/가위/클리퍼</a>
                    <a href="#" class="subcategory" data-cno="17">목욕용품</a>
                </div>
                <div th:if="${goodsDto.c_parents_no == 4}">
                    <a href="#" class="subcategory" data-cno="18">티셔츠</a>
                    <a href="#" class="subcategory" data-cno="19">아우터</a>
                    <a href="#" class="subcategory" data-cno="20">액세사리</a>
                    <a href="#" class="subcategory" data-cno="21">올인원</a>
                </div>
                <div th:if="${goodsDto.c_parents_no == 5}">
                    <a href="#" class="subcategory" data-cno="22">공</a>
                    <a href="#" class="subcategory" data-cno="23">노즈워크</a>
                    <a href="#" class="subcategory" data-cno="24">로프/터그</a>
                    <a href="#" class="subcategory" data-cno="25">인형</a>
                </div>
                
                <table>
                    <thead>
                        <tr>
                            <th>상품 이미지</th>
                            <th>상품 이름</th>
                            <th>가격</th>
                            <th>평점</th>
                        </tr>
                    </thead>

                    <tbody class="goods-list">
                        <tr th:if="${goodsDtos == null or #lists.isEmpty(goodsDtos)}">
                            <td colspan="4">등록된 상품이 없습니다.</td>
                        </tr>
                        <tr th:each="goods : ${goodsDtos}" th:unless="${#lists.isEmpty(goodsDtos)}">
                            <td>
                                <a th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}">
                                    <img th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goods.g_thumbnail_name}}" alt="상품 이미지" />
                                </a>
                            </td>
                            <td>
                                <a th:text="${goods.g_name}" th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}"></a>
                            </td>
                            <td>
                                <span th:if="${goods.g_price != 0}" th:text="|${#numbers.formatInteger(goods.g_price, 0, 'COMMA')}원|"></span>
                            </td>
                            <td>
                                <span th:each="review : ${reviewDtos}" th:if="${review.g_no == goods.g_no}" th:text="${review.r_rating}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    page
                </div>          
            </div>
        </div>
    </section>
    
    <footer></footer>

</body>
</html>
