<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- include -->
<script th:replace="~{/include/common_js.html::jquery_cdn}"
	type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}"
	type="text/javascript"></script>


<!-- ajax 라이브러리 -->
<script th:fragment="jquery_cdn"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- slick 라이브러리 -->
<script th:fragment="slick"
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<!-- js -->
<script type="text/javascript"
	th:src="@{/js/goods/search_category_form_ajax.js}"></script>

<!-- css -->
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet"
	th:href="@{/css/user/goods/search_category_form.css}">

<script type="text/javascript">
$(document).ready(function() {
  $('.product-grid div').click(function() {
    // 클릭된 라인의 a 태그 (상품 이름) 가져오기
    var productLink = $(this).find('a').attr('href');
    
    // 상세 페이지로 이동
    if (productLink) {
      location.href = productLink;
    }
  });
});
</script>


</head>
<body>

	<header
		th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>

	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>

	<section>
		<div id="section_wrap">
			<div class="word">
				<a th:href="@{/}"><</a> CATEGORY
			</div>

			<div class="goods-list">
				<div th:if="${goodsDto.c_parents_no == 1}">
					<a href="#" class="subcategory" data-cno="6">전연령</a> <a href="#"
						class="subcategory" data-cno="7">퍼피</a> <a href="#"
						class="subcategory" data-cno="8">어덜트</a> <a href="#"
						class="subcategory" data-cno="9">시니어</a>
				</div>

				<div th:if="${goodsDto.c_parents_no == 2}">
					<a href="#" class="subcategory" data-cno="10">껌</a> <a href="#"
						class="subcategory" data-cno="11">육포/사시미</a> <a href="#"
						class="subcategory" data-cno="12">저키/트릿</a> <a href="#"
						class="subcategory" data-cno="13">수제</a>
				</div>
				<div th:if="${goodsDto.c_parents_no == 3}">
					<a href="#" class="subcategory" data-cno="14">구강관리</a> <a href="#"
						class="subcategory" data-cno="15">관리용품</a> <a href="#"
						class="subcategory" data-cno="16">브러쉬/가위/클리퍼</a> <a href="#"
						class="subcategory" data-cno="17">목욕용품</a>
				</div>
				<div th:if="${goodsDto.c_parents_no == 4}">
					<a href="#" class="subcategory" data-cno="18">티셔츠</a> <a href="#"
						class="subcategory" data-cno="19">아우터</a> <a href="#"
						class="subcategory" data-cno="20">액세사리</a> <a href="#"
						class="subcategory" data-cno="21">올인원</a>
				</div>
				<div th:if="${goodsDto.c_parents_no == 5}">
					<a href="#" class="subcategory" data-cno="22">공</a> <a href="#"
						class="subcategory" data-cno="23">노즈워크</a> <a href="#"
						class="subcategory" data-cno="24">로프/터그</a> <a href="#"
						class="subcategory" data-cno="25">인형</a>
				</div>

				<div class="product-grid">
					<div class="product-item" th:each="goods : ${goodsDtos}">
						<a th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}">
							<img
							th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goods.g_thumbnail_name}}"
							alt="상품 이미지">
							<h3 th:text="${goods.g_name}">상품 이름</h3>
							<p th:if="${goods.g_price != 0}" th:text="|${#numbers.formatInteger(goods.g_price, 0, 'COMMA')}원|">가격</p>
							<span th:each="review : ${reviewDtos}" th:if="${review.g_no == goods.g_no}" class="reviewLine">
								<img src="/img/review/star.png" alt="별 이미지">
								<span th:text="${#numbers.formatDecimal(review.r_rating, 1, 1)}"></span>
							</span>

						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>
