<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/user/order/donation_ranking.css}">

</head>
<body>


	<div id="donation_ranking_wrap">
       <table class="donation_ranking">
         <thead>
           <tr>
             <th>순위</th>
             <th>사용자 아이디</th>
             <th>총 기부 금액</th>
           </tr>
         </thead>
         <tbody>
           <tr th:each="rDonation, stat : ${rankingDonationDtos}">
             <td th:text="${stat.count} + '등'"></td>
             <td th:text="${rDonation.u_id}"></td>
             <td th:text="${rDonation.totalDonation}"></td>
           </tr>
         </tbody>
       </table>
   </div>

</body>
</html>