<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogdam.shop.admin.member.mgm.IAdminMgmDaoForMybatis">
	
	<update id="updateForApproval" 
			parameterType="int">
	
		UPDATE 
			ADMIN 
		SET 
			A_APPROVAL = CASE A_APPROVAL 
		WHEN
			 0 THEN 1 
		ELSE 
			0 END, A_ARV_DATE = NOW() 
		WHERE 
			A_NO = #{a_no}
	
	</update>
	
	<select id="getAllUserItme" 
			parameterType="com.dogdam.shop.admin.CurrentSetPage" 
			resultType="com.dogdam.shop.user.member.MemberDto">
	
		SELECT 
			* 
		FROM 
			USER 
		ORDER 
			BY U_NO ASC LIMIT #{skipPage}, #{amount}
	
	</select>
	
	<select id="getTotalPageNo" resultType="Integer">
		
		SELECT 
			COUNT(*) 
		FROM 
			USER
		
	</select>
	
	<select id="getTotalNoBySearch" 
			resultType="int">
			
			SELECT 
				COUNT(*) 
			FROM 
				USER 
			WHERE 
				U_ID LIKE CONCAT('%', #{searchText}, '%') 
			OR 
				U_NICKNAME LIKE CONCAT('%', #{searchText}, '%');
	
	</select>
	
	<select id="searchUserItem" 
			resultType="com.dogdam.shop.user.member.MemberDto">
			
			SELECT 
				* 
			FROM 
				USER 
			WHERE 
				U_ID LIKE CONCAT('%', #{searchText}, '%') 
			OR 
				U_NICKNAME LIKE CONCAT('%', #{searchText}, '%') 
			ORDER 
				BY U_REG_DATE ASC 
			LIMIT 
				#{skipPage}, #{amount}
			
	</select>
	
	<select id="getAllAdminItme" 
			parameterType="com.dogdam.shop.admin.CurrentSetPage" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
	
		SELECT 
			* 
		FROM 
			ADMIN 
		WHERE 
			A_ID != 'superAdmin' 
		ORDER 
			BY A_NO ASC LIMIT #{skipPage}, #{amount}
	
	</select>
	
	<select id="getTotalAdminPage" resultType="Integer">
		
		SELECT 
			COUNT(*) 
		FROM 
			ADMIN
		WHERE 
			A_ID != 'superAdmin'
		
	</select>
	
	<select id="searchAdminItem" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
			
			SELECT 
				* 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
			OR 
				A_NAME LIKE CONCAT('%', #{searchText}, '%'))
			ORDER 
				BY A_REG_DATE ASC 
			LIMIT 
				#{skipPage}, #{amount} ;
			
	</select>
	
	<select id="getTotalNoBySearchAdmin" 
			resultType="int">
			
			SELECT 
				COUNT(*) 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
			OR 
				A_NAME LIKE CONCAT('%', #{searchText}, '%'));
	
	</select>
	
	<select id="getApprovedAdminItme" 
			parameterType="com.dogdam.shop.admin.CurrentSetPage" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
	
		SELECT 
			* 
		FROM 
			ADMIN 
		WHERE 
			A_ID != 'superAdmin' 
		AND 
			A_APPROVAL = 1 
		ORDER 
			BY A_NO ASC LIMIT #{skipPage}, #{amount}
	
	</select>
	
	<select id="getTotalApprovedAdminPage" resultType="Integer">
		
		SELECT 
			COUNT(*) 
		FROM 
			ADMIN 
		WHERE 
			A_ID != 'superAdmin' 
		AND
			A_APPROVAL = 1
		
	</select>
	
	<select id="searchApprovedAdminItem" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
			
			SELECT 
				* 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				A_APPROVAL = 1 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
			ORDER 
				OR A_NAME LIKE CONCAT('%', #{searchText}, '%'))
				BY A_REG_DATE ASC 
			LIMIT 
				#{skipPage}, #{amount} ;
			
	</select>
	
	<select id="getTotalNoBySearchApprovedAdmin" 
			resultType="int">
			
			SELECT 
				COUNT(*) 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				A_APPROVAL = 1 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
				OR A_NAME LIKE CONCAT('%', #{searchText}, '%'));
	
	</select>
	
	<select id="getWaitingAdminItme" 
			parameterType="com.dogdam.shop.admin.CurrentSetPage" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
	
		SELECT 
			* 
		FROM 
			ADMIN 
		WHERE 
			A_ID != 'superAdmin' 
		AND 
			A_APPROVAL = 0 
		ORDER 
			BY A_NO ASC LIMIT #{skipPage}, #{amount}
	
	</select>
	
	<select id="getTotalWaitingAdminPage" resultType="Integer">
		
		SELECT 
			COUNT(*) 
		FROM 
			ADMIN 
		WHERE 
			A_ID != 'superAdmin' 
		AND
			A_APPROVAL = 0
		
	</select>
	
	<select id="searchWaitingAdminItme" 
			resultType="com.dogdam.shop.admin.member.AdminMemberDto">
			
			SELECT 
				* 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				A_APPROVAL = 0 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
			ORDER 
				OR A_NAME LIKE CONCAT('%', #{searchText}, '%'))
				BY A_REG_DATE ASC 
			LIMIT 
				#{skipPage}, #{amount} ;
			
	</select>
	
	<select id="getTotalNoBySearchWaitingAdmin" 
			resultType="int">
			
			SELECT 
				COUNT(*) 
			FROM 
				ADMIN 
			WHERE 
				A_ID != 'superAdmin' 
			AND 
				A_APPROVAL = 0 
			AND 
				(A_ID LIKE CONCAT('%', #{searchText}, '%') 
				OR A_NAME LIKE CONCAT('%', #{searchText}, '%'));
	
	</select>

</mapper>