.adminListBody .aNo {
	display: none;
}

#section_wrap {
	margin-bottom: 50px;
}

#section_wrap .section_header {
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 1.7em;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 30px;
}

.mgm_list {
	margin-top: 10px;
	text-align: center;
}

.mgm_list table, th, td {
	border-collapse : collapse;
	border: rgba(36, 36, 36, 0.2) 3px solid;
}

.mgm_list table {
	outline: 3px solid rgba(36, 36, 36, 0.6);
}

.admin_table {
	width: 1300px;
	border-radius: 5px;
	margin: auto;

}

.admin_table .adminListHead th {
	height: 40px;
	font-size: 18px;
	font-weight: 600;
	background-color: rgba(209, 201, 201, 0.3);

}

.admin_table .adminListBody td {
	
	height: 38px;
	font-size: 15px;
}

.adminApvUpdateBtn {
	padding: 1.5px 7px;
	border: rgba(132, 126, 126, 0.6) 1px solid;
	border-radius: 7px;
} 

.adminApvUpdateBtn:hover {
	background-color: rgba(207, 193, 193, 0.5);
}

.waitingForArvList {
	margin-right: 40px;
	margin-bottom: 10px;
	text-align: right;
	height: 26px;
}

.waitingForArvList a {
	font-size: 18px;
	width: 100px;
	display: inline-block;
	text-align: center;
}

.waitingForArvList a:hover {
	font-size: 19px;
	font-weight: bold;
	background-color: rgba(160, 157, 157, 0.2);
	border-radius: 8px;
	
}

.admin_search {
	margin-top: 50ox;
	margin-bottom: 5px;
	text-align: center;

}

.searchText {
	padding: 3px 10px;
	font-size: 1.1em;
	border-radius: 3px;
	width: 250px;
	border: 1px solid #c5c2c2;
	outline-color: rgba(197, 158, 158, 0.6);;
	
}


.admin_search a {
	padding: 5px 8px;
	border: 1px solid rgba(197, 158, 158, 0.6);
	border-radius: 6px;
	font-weight: bold;
}

.admin_search a:hover {
	background-color: rgba(214, 171, 171, 0.6);
}

.page_container {
	text-align: center;
	margin-top: 30px;
}

.page_no a {
	padding: 4px 11px;
	margin: 0 7px;
	font-weight: 500;
	font-size: 20px;
	color: #242424;
}

.page_no a:hover {
	background-color: rgba(197, 158, 158, 0.5);
	border-radius: 15px;
}

.selectedPageNum {
	background-color: rgba(197, 158, 158, 0.5);
	border-radius: 15px;
}

