<title th:fragment="user_title">DoGdamDodam</title>

<header th:fragment="user_header">
	<a href="/">
        <img src="/img/logo/001.png" alt="로고">
    </a>
    
	<div id="header_wrap" th:if="${session.loginedMemberDto == null}"> 
		<a th:href="@{/}">홈</a> &nbsp;&nbsp;
		<a th:href="@{/user/member/create_account_form}">회원가입</a> &nbsp;&nbsp;
		<a th:href="@{/user/member/login_form}">로그인</a> &nbsp;&nbsp;
	</div>
	
	<div id="header_wrap" th:unless="${session.loginedMemberDto == null}">
		<a th:href="@{/}">홈</a> &nbsp;&nbsp;
		<a th:href="@{/user/member/logout_confirm}">로그아웃</a> &nbsp;&nbsp;
		<a th:href="@{/}">마이페이지</a> &nbsp;&nbsp;
		<a th:href="@{/review/userReviewList(u_id=${session.loginedMemberDto.u_id})}">리뷰 리스트</a> &nbsp;&nbsp;
		<a th:href="@{/user/qa/qnaListforUser}">상품 Q&A 리스트(개인)</a> &nbsp; &nbsp; 
		<a th:href="@{/donation/mydonationList}">내기부내역</a>&nbsp;&nbsp;
		<a th:href="@{/basket/myOrderList}">내주문상품</a>&nbsp;&nbsp;
		<a th:href="@{/basket/basketList}">장바구니</a>&nbsp;&nbsp;
		<a th:href="@{/admin/goods/goodsList}">상품 리스트(상품 Q&A, 북마크 용)</a> &nbsp;&nbsp;
		
	</div>
	
</header>


<nav th:fragment="user_nav">
	<div id="nav_wrap">
		<a th:href="@{/}">테스트할메뉴</a>&nbsp;&nbsp;
		<a th:href="@{/}">테스트할메뉴</a>&nbsp;&nbsp;
		<a th:href="@{/admin/goods/goodsList}">관리자 상품 리스트</a> &nbsp;&nbsp;
		<a th:href="@{/user/goods/goodsList}">상품 리스트</a> &nbsp;&nbsp;
		<a th:href="@{/user/privateqa/privateqnaList}">1:1 문의</a> &nbsp; &nbsp; 
	</div>
</nav>

<footer th:fragment="user_footer">
	<div id="footer_wrap">
		Copyright OFFICE Corp. All rights reserved.
	</div>
</footer>