<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

<link rel="stylesheet" th:href="@{/css/admin/qa/admin_qna_list.css}">
<script type="text/javascript" th:src="@{/js/admin_qna_list.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:replace="~{admin/include/admin_qna_list::js}" type="text/javascript"></script>

</head>

<body>

    <header th:replace="~{include/title_header_nav_footer.html::user_header}">

    </header>

    <nav th:replace="~{include/title_header_nav_footer.html::user_nav}">

    </nav>

    <section>

        <div id="gqa_wrap">
            <span>상품 문의 리스트</span>

            <div class="article">
                               
                <table id="answer_qna_table">
                   <thead>
                       <tr>
                           <th>상품이미지</th>
                           <th>상품이름</th>
                           <th>고객ID</th>
                           <th>질문유형</th>
                           <th>질문내용</th>
                           <th>답변여부</th>  
                           <th>등록시간</th>                      
                           <th>답변시간</th>                      
                       </tr>                                      
                   </thead>
                    <tbody th:if="${#lists.isEmpty(aQnaDtos)}">
                        <tr>
                            <td colspan="8">상품 문의가 없습니다.</td>
                        </tr>
                    </tbody>
                    <tbody th:attr="data-gqa_no=${aqnalist.gqa_no}" th:each="aqnalist : ${aQnaDtos}">

                        <tr>
                            <td><a th:href="@{/admin/goods/goodsDetailView(g_no=${aqnalist.g_no})}">
						            <img th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${aqnalist.g_thumbnail_name}}" />
						         
						        </a> 
						    </td>
						    <td>
    							<a th:href="@{/admin/goods/goodsDetailView(g_no=${aqnalist.g_no})}" th:text="${aqnalist.g_name}"></a>
							</td>
						    <td th:text="${aqnalist.u_id}"></td>
                            <td th:attr="data-gqa_no=${aqnalist.gqa_no}" th:text="${aqnalist.gqa_select_title}"></td>
                            <td>
                                <a href="#" class="gqa_toggle_title" th:text="${aqnalist.gqa_input_title}"></a>

                            </td>
                            <td class ="answer_qna_ajax_td">
	                            <a class="answer_qna_no" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:if="${aqnalist.gqa_complete eq 0}" href="#none">
	                                답변대기 </a>
	                            <a class="answer_qna_yes" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:unless="${aqnalist.gqa_complete eq 0}" href="#none">
	                                답변완료 </a>	                                
	                        </td> 
                            <td th:text="${aqnalist.gqa_reg_date}"></td>
                             <td>
                            <div class="answer_date_td_now" th:attr="data-gqa_no=${aqnalist.gqa_no}"></div>
                            <div class="answer_date_td_usual" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:text="${aqnalist.gqa_answer_date}"></div>
                            </td>   


                        </tr>

                        <tr class="hidden_gqa_contents collapse">
                            <td colspan="8">
                                <div class="gqa_inquiry" th:text="${aqnalist.gqa_inquiry}"></div>
                                <div class = "answer_qna_ajax_div">
	                                <a class="answer_qna_no_input" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:if="${aqnalist.gqa_complete eq 0}" href="#none">                              
										<input type ="text" th:name="'gqa_answer_' + ${aqnalist.gqa_no}" placeholder = "1:1 문의에 대한 답변을 입력하세요."><br> </a>
		                            <a class ="answer_qna_btn" href = "#none" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:if="${aqnalist.gqa_complete eq 0}">답변하기</a>		                                                                           
	                                 
	                                <a class="answer_qna_no_text" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:if="${aqnalist.gqa_complete eq 0}" href="#none">                              
										</a>
									<a class="answer_qna_yes_text" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:unless="${aqnalist.gqa_complete eq 0}" href="#none">
	                                    답변: </a>
	                                    
	                                    <div class="answer_qna_yes_answer_now" th:attr="data-gqa_no=${aqnalist.gqa_no}" > </div>
										<div class="answer_qna_yes_answer_usual" th:attr="data-gqa_no=${aqnalist.gqa_no}" th:text="${aqnalist.gqa_answer}" th:unless="${aqnalist.gqa_complete eq 0}"> </div>			                                                                           
	                                 
                                 </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <footer th:replace="~{include/title_header_nav_footer.html::user_footer}">

    </footer>
</body>

</html>