<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/css/user/order/my_order_list.css}">
<script type="text/javascript" th:src="@{/js/order/myOrder_list.js}"></script>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

	
</head>
<body>

	<header	th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>


	<div id="order_list">
    <h3>나의 주문내역</h3>
    
    <table>
        <thead>
            <tr>
                <th>나의 주문내역</th>
            </tr>
        </thead>
        <tbody th:each="entry : ${orderNumbersGroupByDatetime.entrySet()}">
            <tr>
               <td class="datetime">
                    <span class="datetime_list" th:text="${#strings.substring(entry.key, 0, 10)}"></span>
                    <input type="hidden" class="datetime" th:value="${entry.key}">
                    <input type="button" class="order_detail_btn" th:value="주문내역상세보기">
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr th:each="salesDto : ${entry.value}">
                                <td>
                                    <div class="product_info">
                                        <a th:href="@{/user/goods/goodsDetailView(g_no=${salesDto.g_no})}">
                                            <img th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${salesDto.g_thumbnail_name}}">
                                        </a>
                                        <div class="product_details">
	                                        <a th:text="${salesDto.g_name}" th:href="@{/user/goods/goodsDetailView(g_no=${salesDto.g_no})}"></a><br>
	                                        <span class="g_price" th:text="${salesDto.g_price}"></span><span>원</span><br>
	                                        <span>주문수량:</span> <span class="s_quantity" th:text="${salesDto.s_quantity}"></span><br>
	                                        <a th:href="@{/review/reviewInsertForm(g_no=${salesDto.g_no}, s_no=${salesDto.s_no})}"
	                                           th:if="${salesDto.r_confirm_rv == 1}" class="review-button" style="display: none;">리뷰남기기
	                                        </a>
	                                        <a th:href="@{/review/reviewInsertForm(g_no=${salesDto.g_no}, s_no=${salesDto.s_no})}"
	                                           th:unless="${salesDto.r_confirm_rv == 1}" class="review-button">리뷰남기기
	                                        </a>
	                                        
	                                        <input type="hidden" th:value="${salesDto.g_no}" name="g_no" class="g_no">
	                                        <input type="hidden" th:value="${salesDto.s_no}" name="s_no" class="s_no">
	                                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
	</div>
<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>