<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/user/order/myOrder_detail.css}">

</head>
<body>


	<div id="myOrder_Detail">
	
		<div class="myOrder_info">
			
			<div class="order_date" th:text="${#strings.substring(myOrderInfo.s_reg_date, 0, 10)}"></div>
			
			<table>
					<thead>
						<tr>
							<th>주문자 정보</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<span class="address">사용자 이름(아이디):</span> <span th:text="${session.loginedMemberDto.u_name + '(' + session.loginedMemberDto.u_id + ')'}"></span><br>
								<span class="address">사용자 메일:</span> <span th:text="${session.loginedMemberDto.u_mail}"></span>
							</td>
						</tr>
					</tbody>
			</table>
			
			<table>
					<thead>
						<tr>
							<th>주문 상품</th>
						</tr>
					</thead>

					  <tbody>
                		<tr th:each="goods : ${myOrderGoods}">
	                    <td>
	                        <div class="product_info">
	                            <a th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}">
	                                <img th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goods.g_thumbnail_name}}" />
	                            </a>
	                            <div>
	                                <a th:text="${goods.g_name}" th:href="@{/user/goods/goodsDetailView(g_no=${goods.g_no})}"></a>
	                                <span class="price" th:text="${goods.g_price}"></span>
	                                <span>주문수량: <span th:text="${goods.s_quantity}"></span></span>
	                            </div>
	                        </div>
	                    </td>
                		</tr>
            		</tbody>
			</table>
			
			<table>
					<thead>
						<tr>
							<th>총주문 가격</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								 <span th:text="${totalPrice}"></span><span>원</span>
							</td>
						</tr>
					</tbody>
			</table>
			
			<table>
					<thead>
						<tr>
							<th>배송지 정보</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<span class="address">수령인:</span> <span th:text="${myOrderInfo.da_name}"></span><br>
								<span class="address">연락처:</span> <span th:text="${myOrderInfo.da_addr_phone}"></span><br>
								<span class="address">주소:</span> <span th:text="${myOrderInfo.da_addr_text}"></span><br>
							</td>
						</tr>
					</tbody>
			</table>
			
			<table>
					<thead>
						<tr>
							<th>주문번호</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<div th:text="${myOrderInfo.o_no}"></div>
							</td>
						</tr>
					</tbody>
			</table>
			
			<div class="donation"><a th:href="@{/donation/mydonationList}">나의 기부내역></a></div>
			
		</div>
	
	
	
	</div>
	
	

</body>
</html>