<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>

<link rel="stylesheet" th:href="@{/css/user/order/order_success.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">


</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>

	<div id="order_wrap">

	    <div class="success_letter">주문이 성공적으로 완료되었습니다.</div>
		
		<div class="order_number_wrap">
			<span class="order_letter">주문번호:</span> <span class="order_number" th:text="${newOrderNumber}"></span>
		</div>
		
		<a class="go_orderList" th:href="@{/basket/myOrderList}">나의 주문내역 ></a>
	
	</div>
	
	<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>
	
</body>
</html>