<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>

<link rel="stylesheet" th:href="@{/css/user/order/order_success.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">


</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>

	<div id="order_wrap">

	    <div class="success_letter">주문이 실패햐였습니다.</div>
		
		<a class="go_orderList" th:href="@{/user/goods/goodsDetailView}">상품 보러가기 ></a>
	
	</div>
	
		<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>
	
</body>
</html>