<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{admin/include/title_header_nav_footer.html::admin_title}"></title>


<link rel="stylesheet" th:href="@{/css/admin/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/tools.css}">



</head>
<body>

<header th:replace="~{admin/include/title_header_nav_footer.html::admin_header}"></header>

<nav th:replace="~{admin/include/title_header_nav_footer.html::admin_nav}"></nav>

<section>

	<div id="section_wrap">
	
		<div class="section_title">
			<p>관리자 도구메뉴</p>
		</div>
		
		<div class="menu_container">
			
			<div><a th:href="@{${adminConfig.requestMgmControllerPath(adminConfig.USER_LIST_MGM)}}">유저관리</a></div>
			<div><a th:href="@{/admin/goods/goodsList}">상품 관리</a></div>
			<div><a th:href="@{/admin/privateqa/adminPrivateqnaList}">1:1 문의</a></div>
			<div><a th:href="@{/admin/qa/adminQnaList}">상품 문의</a></div>

		</div>
		
		
	</div>

</section>

<footer th:replace="~{admin/include/title_header_nav_footer.html::admin_footer}"></footer>

</body>
</html>