<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{admin/include/title_header_nav_footer.html::admin_title}"></title>


<link rel="stylesheet" th:href="@{/css/admin/common.css}">


<script th:replace="~{include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{admin/include/user_list_mgm_js.html::js}" type="text/javascript"></script>


</head>
<body>

<header th:replace="~{admin/include/title_header_nav_footer.html::admin_header}"></header>

<nav th:replace="~{admin/include/title_header_nav_footer.html::admin_nav}"></nav>

<section>

	<div id="section_wrap">
	
		<div class="info_member">
		
			<div class="title">
				<p>기본정보</p>
			</div>
			
			<ul class="member_ul" th:object=${selectUserDto}>
				<li th:text="*{u_id}"></li>
				<li th:text="*{u_nickname}"></li>
				<li>
				<span th:if="${userPetInfoDto != null}" th:text="${userPetInfoDto,p_name}"></span>
				<span th:if="${userPetInfoDto == null}">대표펫이 없습니다.</span>
				</li>
			</ul> 
		
		</div>
	
	
		<div class="info_sales">
		
			<div class="title">
				<p>구매내역</p>
			</div>
			
			<div class="sales_list">
				<a>전체보기</a>
				<ul class="sales_ul">
					<li>주문번호</li>
					<li>구매날짜</li>
					<li>상품이름</li>
					<li>주문금액</li>
				</ul>
			</div>
		
			<div class="page_container">
				<div class="page_no">
			
				</div>
			
				<div class="total_page">
					<span class="page_total_num"></span>
				</div>
			</div>
		
		</div>
		
		
		
		
		<div class="info_private_qna">
			
			<div class="title">
				<p>1:1문의</p>
			</div>
			<a>전체보기</a>
			<div class="private_list">
				<ul class="qna_ul">
					<li>문의유형</li>
					<li>문의제목</li> <!-- 클릭시 문의내용 출력 <ul>에 append<div>를하면 칸이 만들어 질거 같음 -->
					<li>답변여부</li>
					<li>등록시간</li>
				</ul>
			</div>
			
			<div class="page_container">
				<div class="page_no">
			
				</div>
			
				<div class="total_page">
					<span class="page_total_num"></span>
				</div>
			</div>
	
		</div>
		
		
		
		<div class="info_goods_qna">
			<div class="title">
				<p>상품문의</p>
			</div>
			
			<div class="page_container">
				<div class="page_no">
			
				</div>
			
				<div class="total_page">
					<span class="page_total_num"></span>
				</div>
			</div>
			
		</div>
		
	</div>

</section>

<footer th:replace="~{admin/include/title_header_nav_footer.html::admin_footer}"></footer>

</body>
</html>