/*header {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 7px 0;
	}

header #header_wrap {
	width: 1500px;
	margin: 0 auto;
	text-align: right;
	}

nav {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	}

nav #nav_wrap {
	width: 1500px;
	margin: 0 auto;
	text-align: right;
	}
	
footer {
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	background-color: #363636;
}

footer #footer_wrap {
	width: 1500px; height: 100px;
	line-height: 100px;
	color: #fafafa;
	margin: 0 auto;
	text-align: center;
	font-size: .9em;
	} */

/*수정한 css*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a img {
	width: 200px; /* 로고 크기 조정 */
	margin-left: 130px;
	margin-top: 10px;
}

.search {
	position: absolute;
	right: 400px;
	/* transform: translateY(-50%); */
}

header .search {
	width: 300px; /* 검색창 너비 조정 */
	margin: 0;
}

header .search input[name="g_name"] {
	border: 1px solid #FFCD4A;
	border-radius: 7px;
	width: 200px;
	height: 25px;
	width: 200px;
}

header .search input[type="button"] {
	border: 1px solid #FFCD4A;
	border-radius: 7px;
	background-color: #FFCD4A;
	width: 50px;
	height: 25px;
}

header .search input[type="button"]:hover {
	border: 1px solid #ffc62d;
	background-color: #ffc62d;
	cursor: pointer;
}

header #header_wrap {
	width: 1500px;
	margin: 0 100px 0 0;
	text-align: right;
}

nav {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

nav #nav_wrap {
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

footer {
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	background-color: #363636;
	position: relative; /*footer를 화면 아래 고정 */
	bottom: 0;
	/* z-index: 1; 다른 요소 위에 표시되도록 설정 */
}

#footer_wrap {
	width: 100%; /* footer 너비를 전체 너비로 설정 */
	height: 100px;
	line-height: 100px;
	color: #fafafa;
	text-align: center;
	font-size: .9em;
}