<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>

 <script type="text/javascript" th:src="@{/js/goods/order_details_form.js}"></script>
 <link rel="stylesheet" th:href="@{/css/address_modal.css}">
 <link rel="stylesheet" th:href="@{/css/user/order/basket_order_details.css}">

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">


</head>
<body>

	<header th:replace="~{include/title_header_nav_footer.html::user_header}">
	</header>
	
	<nav th:replace="~{include/title_header_nav_footer.html::user_nav}">
	</nav>


		<form th:action="@{/basket/basket_order_confirm}" th:name="order_details" th:method="post">

       <div class="basket_order_wrap">
       <h3>나의 주문 정보</h3>
            <table>
                <thead>
                    <tr>
                        <th>주문자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td  th:text="${session.loginedMemberDto.u_name + '(' + session.loginedMemberDto.u_id + ')'}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="delivery_address">
                <table>
                    <thead>
                        <tr>
                            <th>배송지 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${addressDto == null}">
                             <td>
                                <div class="new_address">
                                <span class="address">수령인:</span> &nbsp;<input type="text" name="da_name" placeholder="수령인을 입력해주세요" required><br>
                                <span class="address">연락처:</span> &nbsp;<input type="text" name="da_addr_phone" placeholder="연락처를 입력해주세요" required><br>
                                <span class="address">배송지:</span> &nbsp;<input type="text" name="da_addr_text" placeholder="배송지를 입력해주세요" required><br>
                                </div>
                            </td>
                        </tr>
                        <tr th:unless="${addressDto == null}">
                            <td>
                            <div class="origin_address">
                               <input type="hidden" name="origin_da_no" th:value="${addressDto.da_no}">
                           	   <input type="hidden" name="selected_da_no">
                               <span class="address">수령인:</span> <span class="da_name" th:text="${addressDto.da_name}"></span><br>
                               <span class="address">연락처:</span> <span class="da_addr_phone" th:text="${addressDto.da_addr_phone}"></span><br>
                               <span class="address">배송지:</span> <span class="da_addr_text" th:text="${addressDto.da_addr_text}"></span><br>
                               <input type="button" class="modify_addr_btn" value="배송지변경">
                             </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="addressModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modalBody">
                    
                </div>
              </div>
         </div>

            <div class="order_goods">
                <table>
                    <thead>
                        <tr>
                            <th >주문상품</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${baksetgoodsMap.entrySet()}">
                            <td>
                            <div class="order_goods_wrap">
                                <input type="hidden" name="g_no" th:value="${entry.key}">
                                <input type="hidden" name="s_quantity" th:value="${entry.value.s_quantity}">
                                <a th:href="@{/user/goods/goodsDetailView(g_no=${entry.key})}">
                                 	<img th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${entry.value.g_thumbnail_name}}" />
                                </a>
                                <div>
	                                 <a th:text="${entry.value.g_name}" th:href="@{/user/goods/goodsDetailView(g_no=${entry.key})}"></a>
	                                 <span class="price" th:text="|${#numbers.formatInteger(entry.value.g_price, 0, 'COMMA')}원|"></span> 
	                                <span>주문수량: <span th:text="${entry.value.s_quantity}"></span></span>
                                </div>
                             </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="order_amount">
                <table>
                    <thead>
                        <tr>
                            <th>주문금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 
                                <span th:text="|${#numbers.formatInteger(baskettotalAmountExDel, 0, 'COMMA')}|"></span> <span>+ 배송비 3,000원 = </span> <span th:text="|${#numbers.formatInteger(basketTotalAmount, 0, 'COMMA')}원|"></span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="donation_amount">
                <table>
                    <thead>
                        <tr>
                            <th>기부금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                               <span th:text="|${#numbers.formatInteger(basketDonationAmount, 0, 'COMMA')}원|"></span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="caution">
                   알림: 도담도담은 주문금액의 1%가 유기견들을 돕기 위해 기부됩니다.
                </div>
            </div>
            
   <div class="submit_btn">        
	   <input type="submit" value="주문하기" >
	   <!-- <input type="reset" value="취소"> -->
   </div>
   </div>
   
   
   </form>
	
<footer th:replace="~{include/title_header_nav_footer::user_footer}">
	</footer>

</body>
</html>