<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품 상세 화면</title>

<!-- ajax 라이브러리 -->
<script th:fragment="jquery_cdn"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Slick 라이브러리 불러오기 -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


<script th:replace="~{/include/common_js.html::jquery_cdn}"
	type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}"
	type="text/javascript"></script>
<script type="text/javascript" th:src="@{/js/goods/goods_view_ajax.js}"></script>

<link rel="stylesheet" th:href="@{/css/admin/goods/goods_detail_view.css}">

<link rel="stylesheet" th:href="@{/css/admin/qa/admin_qna_list_goods_detail_view.css}">

<!-- 상품 문의 리스트 -->
<script type="text/javascript" th:src="@{/js/admin_qna_list.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:replace="~{admin/include/admin_qna_list::js}" type="text/javascript"></script>

</head>
<body>
	<header>
		<a href="/">
	        <img src="/img/logo/001.png" alt="로고">
	    </a>
	</header>
	<div class="goods_detail">
		<div class="goods_top">
		 <div class="top-container">
			<div class="slider-container">
						<div class="product-thumbnails">
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_thumbnail_name}}" />
							</div>
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_second_img_name}}" />
							</div>
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_third_img_name}}" />
							</div>
						</div>
						
						<div class="slider-nav">
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_thumbnail_name}}" />
							</div>
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_second_img_name}}" />
							</div>
							<div>
								<img
									th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_third_img_name}}" />
							</div>
						</div>
					</div>
			
			

			<!-- 상품 정보 -->
			<div class="goods_info">
			<input type="hidden" name="g_name" id="g_name" th:value="${goodsDto.g_name}">
			<input type="text" name="c_no" id="c_no" th:value="${goodsDto.c_no}">
			<input type="text" name="c_parents_no" id="c_parents_no" th:value="${goodsDto.c_parents_no}">
				<h1 th:text="${goodsDto.g_name}"></h1>
				<p>
	                <th:block th:if="${goodsDto.g_price != 0}">
						<span th:text="|${#numbers.formatInteger(goodsDto.g_price, 0, 'COMMA')}원|"></span>
					</th:block>
				</p>
				<p>
					<span th:text="${goodsDto.g_explanation}"></span>
				</p>
			</div>
			</div>
		</div>

		<!-- 상품 디테일 정보 -->
		<div class="goods_detail_content">
			<img
				th:src="@{'http://14.42.124.95:8091/goodsUploadImg/' + ${goodsDto.g_detail_content}}" />
		</div>
	</div>

	<!-- 버튼 -->
		<a th:if="${goodsDto.g_approval}" style="display: none;" th:href="@{/admin/goods/updateApproval(g_no=${goodsDto.g_no})}"
			id="updateApproval" class="btn">등록 승인</a> 
			
		<a th:unless="${goodsDto.g_approval}" th:href="@{/admin/goods/updateApproval(g_no=${goodsDto.g_no})}"
			id="updateApproval" class="btn">등록 승인</a> 
			
		<a th:href="@{/admin/goods/modifyGoods(g_no=${goodsDto.g_no}, c_no=${goodsDto.c_no})}" class="btn">상품 수정</a>
			
		<a th:href="@{/admin/goods/deleteGoods(g_no=${goodsDto.g_no})}"
			id="goodsDeleteConfirm" class="btn">상품 삭제</a> 
			
		<a th:href="@{/admin/goods/goodsList}" class="btn">리스트</a>
	<footer> </footer>
</body>
</html>