<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{admin/include/title_header_nav_footer.html::admin_title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">

<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}" type="text/javascript"></script>

</head>
<body>

<header th:replace="~{admin/include/title_header_nav_footer.html::admin_header}"></header>

<nav th:replace="~{admin/include/title_header_nav_footer.html::admin_nav}"></nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				GOODS INSERT success
			</div>
			
			
		</div>
	</section>
	
	<footer th:replace="~{admin/include/title_header_nav_footer.html::admin_footer}"></footer>

</body>
</html>