<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{admin/include/title_header_nav_footer.html::admin_title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/common.css}">

<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/common_js.html::slick}" type="text/javascript"></script>

<script type="text/javascript" th:src="@{/js/goods/insert_goods_form.js}"></script>
<script type="text/javascript" th:src="@{/js/goods/goods_insert_ajax.js}"></script>


<link rel="stylesheet" th:href="@{/css/admin/goods/insert_goods_form.css}">

</head>
<body>

<header></header>

<nav></nav>

<section>
    <div id="section_wrap">
        <div class="word">GOODS INSERT</div>

        <div class="goods_insert_form">

            <form th:action="@{/admin/goods/insertGoodsConfirm}" name="insert_goods_form" method="post" enctype="multipart/form-data">
                <label class="goodsName">상품명</label>
                <input type="text" name="g_name" placeholder="Input goods name"><br>

                <label class="thumImg">대표 이미지</label>
                <input type="file" name="file1"><br>

                <label class="secondImg">이미지</label>
                <input type="file" name="file2"><br>

                <label class="thirdImg">이미지</label>
                <input type="file" name="file3"><br>

                <label class="detailImg">상세 설명 이미지</label>
                <input type="file" name="file4"><br>

                <label class="category">Category</label>
                <select name="c_no" id="primaryCategory">
                    <option>Primary Category</option>
                </select>

				<br>
				
                <label class="subCategory">Subcategory</label>
                <select id="secondaryCategory" name="c_no2">
                    <option>Secondary Category</option>
                </select>
                <br>

				<label class="goodsExplanation">상품 설명</label>
                <input type="text" name="g_explanation" placeholder="Input goods explanation"><br>

				<label class="goodsPrice">상품 가격</label>
                <input type="text" name="g_price" placeholder="Input goods price"><br>

                <input type="button" value="INSERT" class="goodsInsertBtn" onclick="insertGoods();">
                <input type="reset" value="RESET">
                <input type="button" value="CANCEL" class="goodsCancelBtn">
            </form>

        </div>

    </div>
</section>

<footer></footer>

</body>
</html>
