.basket_order_wrap {
    margin: 30px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 1000px;
}

.basket_order_wrap table th {
    background-color: #e0e0e0;
    font-size: 21px;
}

.basket_order_wrap table td {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.basket_order_wrap {
    margin-bottom: 20px;
}

.new_address, .origin_address {
    margin-bottom: 10px;
}

.modify_addr_btn {
    margin-top: 10px;
}

.order_amount, .donation_amount {
    font-weight: bold;
}

.order_goods_wrap {
    display: flex;
    align-items: center;
}

.order_goods_wrap img {
    margin-right: 10px;
    max-width: 100px; 
    max-height: 100px;
}

.order_goods_wrap div {
    display: flex;
    flex-direction: column;
}

.order_goods_wrap div a {
    margin-bottom: 5px;
    font-weight: bold;
}

.order_goods_wrap div span {
    display: flex;
    align-items: center;
}

.order_goods_wrap .price::after {
    content: '원'; 
    margin-left: 4px; 
}

.basket_order_wrap a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.basket_order_wrap a:hover {
    text-decoration: underline;
}

.submit_btn input[type="submit"] {
    display: block; 
    margin: 20px auto; 
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    font-size: 21px; 
    cursor: pointer;
}

.submit_btn input[type="submit"]:hover {
    background-color: #0056b3; 
}

.modify_addr_btn {
    display: inline-block;
    margin-top: 15px; 
    margin-right: 0; 
    background-color: #007bff;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
} 

.modify_addr_btn:hover {
    background-color: #0056b3; 
}

.address {
	color: #666;
	font-size: 16px; 
}