* {
  font-family: Arial, sans-serif;
}

#order_list {
    margin: 20px auto;
    max-width: 800px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f2f2f2;
    padding: 10px;
}

tbody td .datetime {
    border-top: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

.product_info {
    /*display: flex;*/
    align-items: center;
    position: relative;
}

.product_info img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.product_info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.product_info a:hover {
    text-decoration: underline;
}

.g_price, .s_quantity {
    margin-right: 5px;
}

.review-button {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.review-button:hover {
    text-decoration: underline;
}

tbody .datetime {
	font-weight: bold;
	font-size: 19px;
	padding-top: 14px;
}

#order_list table .product_info  {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

#order_list table .product_info td {
    border: 1px solid #ccc;
    padding: 8px;
}


.order_detail_btn {
    float: right;
    border: none; 
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer; 
    outline: none;
    font-size: 16px;
}
.order_detail_btn:hover {
    text-decoration: underline;
}

span .datetime_list {
	
	padding:1px 6px;
}
.product_details {
	display: inline-block;
    vertical-align: top; 
	margin-top: 17px;
}

.product_info .review-button {
    position: absolute;
    right: 5px;
    bottom: 42px;
    color: #007bff;
}