#myOrder_Detail {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcfcfc;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

.myOrder_info {
    margin-bottom: 20px;
}

.myOrder_info table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.myOrder_info table th,
.myOrder_info table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.myOrder_info table th {
    background-color: #e0e0e0;
    font-size: 21px;
}

.myOrder_info table td {
    font-size: 18px;
}

.myOrder_info table td img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.myOrder_info a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.myOrder_info a:hover {
    text-decoration: underline;
}

.product_info {
    display: flex;
    align-items: center;
}

.product_info img {
    margin-right: 10px;
    max-width: 100px; 
    max-height: 100px;
}

.product_info div {
    display: flex;
    flex-direction: column;
}

.product_info div a {
    margin-bottom: 5px;
    font-weight: bold;
}

.product_info div span {
    display: flex;
    align-items: center;
}


.donation {
    text-align: right;
     font-size: 18px;
}

.order_date {
	margin-bottom: 15px;
	font-size: 23px; 
    font-weight: bold;
}
.address {
	color: #666;
	font-size: 16px; 
}