<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/user/ng_qna.css}">
</head>
<body>

    <header th:replace="~{include/title_header_nav_footer.html::user_header}">
    
    </header>

    <nav th:replace="~{include/title_header_nav_footer.html::user_nav}">

    </nav>

    <section>
		<div id="section_wrap" class = "fail_text">
			<span> 질문 등록에 문제가 발생했습니다. 다시 작성해 주세요. </span>
		</div>
			
		
	</section>
	
    <footer th:replace="~{include/title_header_nav_footer.html::user_footer}">

    </footer>

</body>
</html>