<title th:fragment="admin_title">DoGdam_admin</title>

<header th:fragment="admin_header">

	<div id="header_wrap">
	<a href="/">
        <img src="/img/logo/001.png" alt="로고">
    </a>
	<p>Management</p>
		
	</div>
	
	
</header>

<nav th:fragment="admin_nav">
	<div id="nav_wrap" th:if="${session.adminMemberDto != null}">
		
		<div th:if="${session.adminMemberDto.getA_grade == 1}">
			<a th:href="@{${adminConfig.requestMgmControllerPath(adminConfig.LIST_AND_MGM)}}">관리자 목록</a>
			|
			<a th:href="@{/admin/goods/goodsList}">상품 목록</a>
			|
		</div>
	<a th:href="@{${adminConfig.requestMgmControllerPath(adminConfig.TOOLS)}}">관리도구</a>
		|
	<a th:href="@{${adminConfig.requestToControllerPath(adminConfig.LOGOUT_CONFIRM)}}">로그아웃</a>
		
	</div> 
</nav>

<footer th:fragment="admin_footer">
	<div id="footer_wrap">
		Copyright OFFICE Corp. All rights reserved.
	</div>
</footer>