<script th:fragment="js" type="text/javascript">
	

$(document).ready(function(){
	
	console.log('DOCUMENT READY!!');
	
	// 이벤트 핸들러 초기화(등록)
	init_events();
	
});


function init_events() {
	console.log('init_events()');
	
	$(document).on('click', '.bm_heart_on', function(e) {			
		console.log('BOOKMARK_HEART_ON CLICK HANDLER!!');
		debugger
		let g_no = $(this).data("g_no");				
		console.log('g_no' + g_no);
		
		ajax_bookmark_on(g_no);
		
	});
	
	$(document).on('click', '.bm_heart_off', function(e) {		
		console.log('BOOKMARK_HEART_OFF CLICK HANDLER!!');
		
		let g_no = $(this).data("g_no");				
		console.log('g_no' + g_no);
		
		ajax_bookmark_off(g_no);
		
	});
	
}

function ajax_bookmark_on(g_no) {
	console.log('ajax_bookmark_on()');
	
	let msgDto = {
		'g_no': g_no,
	}
	
	$.ajax({
		url: '/user/bookmark/bookmarkOn',
		method: 'post',
		data: JSON.stringify(msgDto),
		contentType: 'application/json; charset=utf-8',
		dataType: 'json',
		success: function(data) {
			console.log('bookmark success!!');

			if (data.notbookmarked > 0) {
				alert("위시리스트에 저장되었습니다.");
				$('#bm_heart').load(location.href+' #bm_heart');
	            
	            
	        } else {
	        	alert("위시리스트 저장에 실패했습니다.");
	        }
	    },
	    error: function (xhr, status, error) {
	        console.error('ajax_bookmark ERROR!!');
	    }
	});
	
}

function ajax_bookmark_off(g_no) {
	console.log('ajax_bookmark_off()');
	
	let msgDto = {
		'g_no': g_no,
	}
	
	$.ajax({
		url: '/user/bookmark/bookmarkOff',
		method: 'post',
		data: JSON.stringify(msgDto),
		contentType: 'application/json; charset=utf-8',
		dataType: 'json',
		success: function(data) {
			console.log('bookmark delete success!!');

			if (data.bookmarked > 0) {
				alert("위시리스트에서 삭제되었습니다.");
				$('#bm_heart').load(location.href+' #bm_heart');
	            	            
	        } else {
	        	alert("위시리스트 삭제에 실패했습니다.");
	        }
	    },
	    error: function (xhr, status, error) {
	        console.error('ajax_bookmark ERROR!!');
	    }
	});
	
}

</script>