body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 배경을 흰색으로 설정 */
}

#section_wrap {
    width: 1300px; /* 페이지 너비를 1300px로 설정 */
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: center; /* 로고를 가운데 정렬하기 위해 */
    margin-bottom: 20px; /* 헤더와 섹션 사이에 약간의 여백 추가 */
}

header a {
   display: inline-block; /* 링크를 블록 요소로 표시하여 이미지 주위에 여백을 만듭니다. */
}

header img {
    width: 200px; /* 로고 이미지의 너비를 조정합니다. */
    height: auto; /* 높이를 자동으로 조정하여 비율을 유지합니다. */
    margin-top: 10px;
}

.word {
    margin-bottom: 20px;
    font-size: 24px;
}

/* 바둑판식으로 정렬하는 CSS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 가로에 4개의 열을 생성합니다. */
    grid-gap: 20px; /* 열 간의 간격을 설정합니다. */
}

.grid-item {
    border: 1px solid #ddd; /* 상품 아이템의 테두리 설정 */
}

.thumbnail {
    width: 320px; /* 이미지의 너비를 320px로 통일합니다. */
    height: auto; /* 높이를 자동으로 조정하여 비율을 유지합니다. */
}

.item-info {
    padding: 10px; /* 아이템 정보 영역의 내부 여백 설정 */
}

.item-name {
    font-weight: bold; /* 상품 이름의 글씨체를 굵게 설정합니다. */
}

.item-price {
    margin-top: 5px; /* 가격과 다른 정보들 사이의 간격 설정 */
}

.item-rating {
    margin-top: 5px; /* 평점과 다른 정보들 사이의 간격 설정 */
}

.reviewLine img{
	width: 15px;
}