/* 공통 스타일 */
#section_wrap {
    width: 80%;
    margin: 0 auto;
}

.word {
    font-size: 24px;
    margin-bottom: 20px;
}

.goods_list {
    margin-bottom: 50px;
}


/* 카테고리 목록 스타일 */
#feed_category_wrap,
#snack_category_wrap,
#beauty_category_wrap,
#clothes_category_wrap,
#toy_category_wrap {
    margin-bottom: 20px;
}

#feed_category_wrap a,
#snack_category_wrap a,
#beauty_category_wrap a,
#clothes_category_wrap a,
#toy_category_wrap a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

/* 상품 목록 스타일 */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 상품이 4개씩 배치됩니다. */
    grid-gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-grid a {
    text-decoration: none;
    color: #333;
}

.product-grid h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-grid p {
    margin-bottom: 5px;
}

.product-grid span {
    font-weight: bold;
}

/* 페이지 네이션 스타일 */
div.page {
    text-align: center;
}

div.page a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

div.page a.active {
    background-color: #333;
    color: #fff;
}

/* 버튼 스타일 */
.subcategory {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px; /* 버튼 아래 여백 추가 */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FFCD0F; /* 배경색 설정 */
    color: black;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* 마우스 호버 효과 설정 */
}

.subcategory:hover {
    background-color: #F3BB00; /* 마우스 호버 시 배경색 변경 */
    color: white;
}

.reviewLine img{
	width: 15px;
}