<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title_header_nav_footer.html::user_title}"></title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/user/ng_qna.css}">
</head>
<body>

    <header th:replace="~{include/title_header_nav_footer.html::user_header}">
    
    </header>

    <nav th:replace="~{include/title_header_nav_footer.html::user_nav}">

    </nav>

    <section>
		<div id="section_wrap" class = "fail_text">
			<span> 1:1 문의 삭제에 실패했습니다. 관리자에게 문의해주세요. </span>
		</div>
		<div id="privateqna_list" class = "fail_btn">
			<a th:href="@{/user/privateqa/privateqnaList}">1:1 문의 목록 보기</a>
		</div>	
		
	</section>
    
    <footer th:replace="~{include/title_header_nav_footer.html::user_footer}">

    </footer>
</body>
</html>